# Ignore all environment files
*.env
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.sqlite3



# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Backup files
*.bak
*.tmp

# Secret configs
*.key
*.pem
secrets.json
credentials.json
